.image{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 10vh;
}
.sidebar{
    height:100vh;
    background: #A5AAAB;
    overflow-y: scroll;
}
.rightbar{
    background: #bab8b9;
    overflow-y: scroll;
}
.imgdiv{
    display: flex;
    justify-content: center;
}
.btnlist{
    margin-top: 10vh;
}
.nameinfo{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}

.coroselholder1,.coroselholder2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
}
.coroselholder1 h1,.coroselholder2 h1,th{
    font-family: cursive;
}
.rightbar::-webkit-scrollbar {
    display: none;
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }