
<head>

  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>


<div>

  <div class="container-fluid">
    <div class="row">
    <div class="col-sm-3 sidebar">
      <div class="imgdiv">
      <img src="../assets/thippesha.jpg" class="image">
      </div>
      <div class="nameinfo">
        <div>
          <h1 style="margin-left: 10px;color: #184232;margin-bottom: 0;margin-top: 10px;">Thippesha J</h1>
          <h3 style="color: #184232;margin-bottom: 0">Full Stack Developer</h3>
        </div>
       
      </div>
      

      <div class="list-group btnlist">
        <a (click)="changeRightView('About')" class="list-group-item list-group-item-action list-group-item-dark"><i class="fa fa-address-card"></i> About</a>
        <a (click)="changeRightView('Education')" class="list-group-item list-group-item-action list-group-item-dark"><i class="fa fa-book"></i> Education</a>
        <a (click)="changeRightView('Projects')" class="list-group-item list-group-item-action list-group-item-dark"><i class="fa fa-list"></i>  Certifications</a>
        <a (click)="changeRightView('Contact')" class="list-group-item list-group-item-action list-group-item-dark"><i class="fa fa-phone"></i>  Contact</a>
      </div>

      <div style="margin-top:15vh;">
      <button (click)="goToLink('https://www.linkedin.com/in/thippesha-j-7006671b0')" class="btn"><i class="fa fa-linkedin"></i></button>
      <button (click)="goToLink('https://www.instagram.com/thippesha_j/')" class="btn"><i class="fa fa-instagram"></i></button>
      <button (click)="goToLink('https://www.facebook.com/thippesh.jt')" class="btn"><i class="fa fa-facebook"></i></button>
      <button (click)="goToLink('https://twitter.com/JThippesha')" class="btn"><i class="fa fa-twitter"></i></button>
      </div>

    </div>
    <div class="col-sm-9 rightbar">
        <div *ngIf=" case =='About'">
          
          <div class="coroselholder1">
          <div style="width: 53vw;height: 75vh;">
            
            <h1>Electrical And Electronics Engineering Graduate.</h1><br>
            <h1>Eager to Learn And Apply.</h1><br>
            <h1>Passionate Towards making Imaginable into Reality.</h1><br>
            <h1>"Java-Angular" Full Stack Web Development.</h1>
          
          </div>   
          </div>

        </div>
        <div *ngIf=" case =='Education'" id = "edu" >
          <div class="coroselholder2">
            <div style="width: 53vw;height: 75vh;">
              <h1><u>Education</u> :-</h1><br>
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Course</th>
                    <th scope="col">Institution</th>
                    <th scope="col">Board</th>
                    <th scope="col">AGGREGATE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>B.E Electrical and Electronics Engineering.</td>
                    <td>Bangalore Institute of technology.</td>
                    <td>Visveswaraih Technological University.</td>
                    <td>7.00</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>X std.</td>
                    <td>Infant Jesus High School Challekere.</td>
                    <td>Karnataka State Board.</td>
                    <td>83.2%</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>XII std.</td>
                    <td>Sir M V PU college Davanagere.</td>
                    <td>Karnataka State Board.</td>
                    <td>84.5%</td>
                  </tr>
                </tbody>
              </table>
            </div>   
            </div>  
        </div>
        <div *ngIf=" case =='Projects'">
          <div class="coroselholder2">
            <div style="width: 53vw;height: 75vh;">
              <h1><u>Certifications</u>:-</h1><br>
              <table class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Link</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Infosys Certified Java Programmer.</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Infosys Certified Spring Professional.</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Infosys Certified Java Se 11 Developper.</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Angular (Basic)</td>
                    <td (click)="goToLink('https://www.hackerrank.com/certificates/d206666dae86')"><u>Link</u></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Java (Basic)</td>
                    <td (click)="goToLink('https://www.hackerrank.com/certificates/85275a2d64dc')"><u>Link</u></td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Problem Solving (Basic)</td>
                    <td (click)="goToLink('https://www.hackerrank.com/certificates/7578a242da44')"><u>Link</u></td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>SQL (Basic)</td>
                    <td (click)="goToLink('https://www.hackerrank.com/certificates/e39a911ae843')"><u>Link</u></td>
                  </tr>
                </tbody>
              </table>
            </div>   
            </div>  
        </div>
        <div *ngIf=" case =='Contact'">
          <div class="coroselholder2">
            <div style="width: 53vw;height: 75vh;">
              <h1><u>Cerrently working as</u>: 'Digital Specialist Engineer', Infosys Bangalore.</h1>
              <h1><u>Cell Phone Number</u>: <u style="color:rgb(45, 48, 252)">+919731516829</u> .</h1>
              <h1 ><u>Gmail</u>: <a style="color:rgb(45, 48, 252)"><u>jtthippeshaj@gmail.com</u></a> .</h1>
            </div>
          </div>  
        </div>


    </div>
  </div>
  </div>

</div>